@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de Sesión";
    Layout = null;
}
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EncuestadorApp.Logic1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="row">
                    <div class="col-4 m-auto" style="padding-left: 32px;">
                        <img src="~/Escudo_ITLA-PNG.png" width="300" />
                    </div>
                </div>
            </div>

            <div class="col-4 border  ml-auto mb-auto mr-auto">
                <h1>@ViewData["Title"]</h1>
                <section>
                    <form id="account" method="post">
                        <h6>Completa los datos para acceder.</h6>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.userName"></label>
                            <input asp-for="Input.userName" class="form-control" placeholder="Introduzca su nombre de usuario" />
                            <span asp-validation-for="Input.userName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" placeholder="****" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </div>
                        <div class="form-group">

                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Registrarse</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
