@{
    ViewData["Title"] = "Home Page";
}

<style>

    a:hover{
        cursor: pointer;
    }

</style>
<div class="row mb-4">

    <div>

        <button class="btn btn-primary" data-toggle="modal" data-target="#Modal_Crear_Encuesta">Crear Encuesta</button>

    </div>



</div>


<div class="row">

    <h4 class="mb-4">Lista de Encuestas</h4>

    <div class="col-12" id="Encuestas_Div">
        @*<div class="col-12">
            <a class="btn btn-light btn-block mb-3">Encuesta #1</a>
        </div>
        <div class="col-12">
            <a class="btn btn-light btn-block mb-3">Encuesta #1</a>
        </div>
        <div class="col-12">
            <a class="btn btn-light btn-block mb-3">Encuesta #1</a>
        </div>*@
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Modal_Crear_Encuesta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Modal_Crear_EncuestaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_Crear_EncuestaLabel">Creación de Encuestas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="Form_Crear_Encuesta">

                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="Cantidad_Preguntas">Cantidad de Preguntas</label>
                                        <input class="form-control" type="number" id="Cantidad_Preguntas" name="Cantidad_Preguntas" value="" required />

                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-block" style="margin-top: 31px;">Generar</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div>
                    <hr />
                    <form id="Form_Preguntas">
                        <div class="row" id="Div_Preguntas">
                            @*<div class="col-10">
                                <label for="Pregunta1">Pregunta #1</label>
                                <input class="form-control" name="Pregunta1" id="Pregunta1" placeholder="Introduzca la pregunta #1" required>
                            </div>*@
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success" form="Form_Preguntas">Crear encuesta</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Ver_Encuesta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Modal_Ver_EncuestaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Modal_Ver_EncuestaLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div></div>

                <div id="Div_Preguntas_Encuesta">

                    


         
                </div>
                
            </div>
            <div class="modal-footer" id="Footer_Ver_Encuesta">
                @*<button type="button" class="btn btn-primary" data-dismiss="modal">Editar</button>*@
                @*<button onclick="Elimnar_Encuesta(Id_Encuesta)" type="submit" class="btn btn-danger" form="Form_Preguntas">Eliminar</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script>

        $(document).ready(function () {
            Obtener_Encuestas()
        })

        var cantidad_Preguntas_Digitada;
        var Encuestas = [];
        $("#Form_Crear_Encuesta").submit(function () {

            $("#Div_Preguntas").html("");

            var Cantidad_Preguntas = $("#Cantidad_Preguntas").val();

            cantidad_Preguntas_Digitada = Cantidad_Preguntas;

            for (var i = 0; i < cantidad_Preguntas_Digitada; i++) {

                var pregunta = `
                            <div class="col-10">
                                <label for="Pregunta${i+1}">Pregunta #${i + 1}</label>
                                <input class="form-control" name="Pregunta${i + 1}" id="Pregunta${i + 1}" placeholder="Introduzca la pregunta #${i + 1}" required>
                            </div>`;

                $("#Div_Preguntas").append(pregunta);

            };
            Obtener_Encuestas()
            return false;
        });

        $("#Form_Preguntas").submit(function () {

            var Lista_preguntas = []

            for (var i = 0; i < cantidad_Preguntas_Digitada; i++) {

                var pregunta = $(`#Pregunta${i + 1}`).val();

                var model = { Pregunta: pregunta };

                Lista_preguntas.push(model);

            }
            console.log(Lista_preguntas);

            var data = { Lista_Preguntas: Lista_preguntas };

            $.post("/Encuestas/Crear_Encuesta", data).done(function (result) {

                Swal.fire({
                    title: result.title,
                    text: result.text,
                    icon: result.icon
                })

            });

            return false;
        })

        function Obtener_Encuestas() {

            $.get("/Encuestas/Obtener_Encuesta").done(function (result) {

                console.log(result.lista_Encuestas);

                Encuestas = result.lista_Encuestas;

                $("#Encuestas_Div").html("");


                $.each(result.lista_Encuestas, function (i, item) {
                    var fecha = moment(item.fecha_Creacion).format("lll");

                    var model = `
                    <div class="col-12">
                         <a onclick="Preguntas_Encuesta(${item.id})" class="btn btn-light btn-block mb-3">Encuesta #${i + 1} - ${item.titulo} - ${fecha}</a>
                    </div>`;


                    $("#Encuestas_Div").append(model);


                });



            })

        }

        function Preguntas_Encuesta(Id_Encuestas) {

            var data = { Id_Encuestas: Id_Encuestas}

            $("#Div_Preguntas_Encuesta").html("");

            $.get("/Encuestas/Preguntas_Encuesta", data).done(function (result) {


                console.log(result);
                $.each(result.preguntas, function (i, item) {

                    var model = `
                    <p class="">${item.descripcion}</p>`;

                    $("#Div_Preguntas_Encuesta").append(model);

                });

            });
            console.log(Encuestas)

            $("#Footer_Ver_Encuesta").html("");

            var button_Eliminar = `
            <button onclick="Elimnar_Encuesta(${Id_Encuestas})" type="button" class="btn btn-danger">Eliminar</button>`;

            var button_Editar = `
            <button type="button" class="btn btn-primary" data-dismiss="modal">Editar</button>`;

            $("#Footer_Ver_Encuesta").append(button_Eliminar)
            $("#Footer_Ver_Encuesta").append(button_Editar)

            var encuesta = Encuestas.find(x => x.id == Id_Encuestas);

            $("#Modal_Ver_EncuestaLabel").text(encuesta.titulo);

            $("#Modal_Ver_Encuesta").modal("show");
        }

        function Elimnar_Encuesta(Id_Encuesta) {

            var data = { Id_Encuestas: Id_Encuesta };

            $.post("/Encuestas/Elimnar_Encuesta", data).done(function (result) {


                Swal.fire({
                    title: result.title,
                    text: result.text,
                    icon: result.icon
                })

                $("#Modal_Ver_Encuesta").modal("hide");
                Obtener_Encuestas()

            });
        }
    </script>


} 